<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<div class="container">
    <!-- Login Section -->
    <div id="loginSection" style="display:block;">
      <h1>Login</h1>
      <form method="post" action="{{ url_for('simplelogin.login', next=request.args.get('next', '/')) }}">
		<div class="form-group">
        {{ form.csrf_token }}
        {{form.username.label}}<div class="form-control">{{ form.username }}</div><br>
        {{form.password.label}}<div class="form-control"> {{ form.password }}</div><br>
     	</div>
        <br><br>
        <input type="submit" value="Send">
      </form>
      <p>Only the hardcoded accounts are allowed:</p>
      <ul>
        <li>admin / banana</li>
        <li>bobby / hunter2</li>
        <li>alice / passw0rd</li>
      </ul>
    </div>
